body {
  margin: 0;
  padding: 0;
  background-color: rgb(70, 70, 70);
}

html a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  width: 1000px;
  margin: 0 auto;
}

/*-------------header------------*/

.index_header {
  display: flex;
  background-color: black;
  justify-content: space-between;
}

.index_header nav ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 0 0;
}

.index_header nav ul li {
  margin: 10px 20px 0 0;
}

.index_header nav a {
  color: white;
  transition: 0.5s;
}

.index_header nav a:hover {
  color: rgb(62, 173, 236);
}

.input {
  margin: 25px 20px 0 0;
}

.log_in {
  border-right: 1px solid rgb(255, 255, 255);
  margin: 0 5px 0 20px;
  font-size: small;
  color: white;
  transition: 0.5s;
}

.log_in:hover {
  color: rgb(62, 173, 236);
}

.reg {
  font-size: small;
  color: white;
  transition: 0.5s;
}

.reg:hover {
  color: rgb(62, 173, 236);
}

.input button img {
  width: 10px;
  margin: -2px;
}

h1 {
  margin: 0;
}

h1 img {
  width: 60px;
  margin: 11.6px 0 11.6px 30px;
}

/*-------------body--------------*/

.body_video video {
  width: 100%;
  padding: 0;
}

.container {
  width: auto;
  height: auto;
  display: flex;
  margin: -5px 0 0 0;
}

.container a {
  color: black;
  transition: 0.5s;
}

.container a:hover {
  color: rgb(62, 173, 236);
}

.container .bikes {
  width: 333px;
  height: 350px;
  background-color: white;
  text-align: center;
  color: white;
}

.container img {
  width: 333.33px;
}

/*-----------gallery-----------*/

.bike_photo_gallery {
  background-color: white;
  text-align: center;
  height: 1000px;
}

.bike_photo_gallery img {
  width: 1000px;
}

#text {
  margin: 0 50px 0 50px;
}

.button {
  display: flex;
  align-items: center;
  margin-left: 400px;
}

.button p {
  margin: 0 10px 0 10px;
}

.btn {
  background-color: red;
  border: unset;
  padding: 20px 30px 20px 30px;
  margin-top: 5px;
}

.btn a {
  color: white;
  font-size: large;
}

/*------------footer-------------*/

footer {
  height: 70px;
  background-color: black;
  margin: -15px 0 0 0;
}

footer p {
  color: white;
  text-align: center;
  padding: 25px 0 0 0;
}
